<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="intro_app">
    <head>
        <title>Introduction</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" >
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" >
    </head>
    <!-- Mahmudul Hasan Khan-->
    <body ng-controller="intro_ctrl">
        <div class="container" ng-init="first_name='Super'">
            <p>Input your name in the text box : </p>
            <p>First Name : <input type="text" ng-model="first_name"></p>
            <p data-ng-init="last_name='Man'">Last Name : <input type="text" ng-model="last_name"></p>
            <p><strong>First Name: </strong><i ng-bind="first_name"></i></p>
            <p><strong>Last Name: </strong><i data-ng-bind="last_name"></i>
            <p><strong>Full Name: </strong><i>{{first_name + ' ' + last_name}}</i></p>
            <p>5 + 5 = <strong>{{ 5  + 5 }}</strong></p>
            <p><strong>Client Name: </strong><i ng-bind="client_name"></i></p>
            <p><strong>Age: </strong><i ng-bind="client_age"></i></p>
        </div>
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular-i18n/angular-locale_bn-bd.js"></script>
        <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript">
            var intro_app = angular.module("intro_app", []);
            intro_app.controller("intro_ctrl", function($scope){
                $scope.client_name = "John";
                $scope.client_age = 30;
            });
        </script>
    </body>
</html>
