<div ng-controller="users_ctrl">
    <h3>List of Users : </h3>
    <table class="table table-responsive table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Edit</th>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users|orderBy:'first_name'">
                <td>
                    <button class="btn btn-default btn-block btn-primary" ng-click="edit_user(user.user_id)">
                        <span class="glyphicon glyphicon-pencil">&nbsp;&nbsp;Edit</span>
                    </button>
                </td>
                <td>{{user.user_id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td><a href="{{user.email}}" target="_blank">{{user.email}}</a></td>
            </tr>
        </tbody>
    </table>
</div>